.table{
  background-color: transparent;    
}

.tableRow th{    
  /* background-color: #62D4E3; */
  border: none;    
  border-bottom: 1px solid black;
  padding: 0.5rem 1.5rem;    
  font-size: 1.1rem;
  font-weight: 600;
}

.tableRow th:nth-child(1){
  border-top-left-radius: 20px;
  color: hsla(0, 0%, 100%, 0.7)
}

.tableRow th:nth-child(2){
  border-top-right-radius: 20px;
}

.dataRow th,.dataRow td{    
  padding: 0.5rem 3rem 0.5rem 1.5rem; 
  border: none;    
  border-bottom: 1px solid black;    
}

.tableDataCell{
  background-color: transparent;
}

.AddNewRecordButton{
  background-color: transparent;
  border: none;
  color: rgba(0, 0, 0, 0.5);  
}