# These owners will be the default owners for everything in

# the repo. Unless a later match takes precedence,

# following owners will be requested for

# review when someone opens a pull request.

- @bharathkumarchowdary

# Following user, owns any files in the src/

# directory at the root of the repository and any of its

# subdirectories.

/src/ @mohitkhatri06
package.json @mohitkhatri06
package-lock.json @mohitkhatri06

/src/pages/Signin
/src/pages/Signin
/src/Router.jsx
