.container{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    
}
.statsContainer{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    background:#f0f1f3;
    padding: 1rem 1rem;
    border-radius: 20px;
}
.chartWrapper{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 2rem 0;
    padding: 2rem 0;
    background-color: #f0f1f3;
    border-radius: 20px;
}

@media screen and (max-width: 768px) {
    .statsContainer{
        justify-content: center;
    }
    
}