.tableWrapper{
  min-width: fit-content;  
  height: 75%;
  overflow: auto;
  margin-bottom: 10px;
  background-color: white;
}

.table{
  background-color: transparent; 

}

.tableRow th{    
  /* background-color: #62D4E3; */
  border: none;    
  border-bottom: 1px solid black;
  padding: 0.5rem 1.5rem;    
  font-size: 1.1rem;
  font-weight: 600;
  position: sticky;
  top: 0;  
}

.tableRow th:nth-child(1){
  border-top-left-radius: 20px;
  color: hsla(0, 0%, 100%, 0.7)
}

.tableRow th:nth-child(2){
  border-top-right-radius: 20px;
}

.dataRow th,.dataRow td{    
  padding: 0.5rem 3rem 0.5rem 1.5rem; 
  border: none;    
  border-bottom: 1px solid black;    
}

.tableDataCell{
  background-color: transparent;
}

.AddNewRecordButton{
  background-color: transparent;
  border: none;
  color: rgba(0, 0, 0, 0.5);  
}

.totalAmountRow{
  position: sticky;
  bottom: 0;
  left: 0;
  background: white;  
  margin-top: 2px;
  border-bottom: 2px solid black;
}