.footer{
    width: 100%;
    height: 35vh;
    background-color: #0289C8;
    display: flex;
    bottom: 0px;
    justify-content: space-evenly;
    align-items: start;
    padding-top: 2vw;
    gap: 2vw;
}
@media (max-width:560px) {
    .footer{
        flex-direction: column;
        height: auto;
        padding:2vw;
        gap: 5vw;
    }
}
@media (max-width:768px) {
    .footer{
        flex-direction: column;
        height: auto;
        padding:2vw;
        gap: 5vw;
    }
}