.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

    .container > h3 > a{
        color: white;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.3rem;

        margin-bottom: 1vw;

    } .container > h5 > a{
        color: white;
        font-weight: normal;
        font-size: 0.8rem;

        text-decoration: none;
    }.container > h5 > a:hover{
        text-decoration: underline solid white 1px;
    }

    @media (max-width:768px) {
        .container{
            width: 70%;
        }
        .container > h3 > a{
            font-size: 1.2rem;
    
        } .container > h5 > a{
            font-size: 0.8rem;
        }
    }