.button {
  justify-self: center;
  align-self: flex-start;
  border: none;
  font-size: 0.8rem;
  margin-top: 0.7vw;
  border-top-right-radius: 0.3vw;
  border-top-left-radius: 0.3vw;
  color: #0289c8;
  background-color: #eaeaea;
  border-left: 1px #0289c8 solid;
  border-top: 1px #0289c8 solid;
  border-right: 1px #0289c8 solid;
  transition: 0.2s;
  align-self: flex-end;
  margin-right: 3vw;
}
.button:hover {
  opacity: 0.6;
}
@media (max-width: 768px) {
  .button {
    border-top-right-radius: 0.8vw;
    border-top-left-radius: 0.8vw;
  }
}
