@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.header {
    max-width: 90rem;
    width: 95vw;
    margin: auto;
    margin-top: 2.815rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins';
}

.logoText {
    color: #FFFFFF;
    text-align: right;
    font-family: "Poppins";
    font-size: 32px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0em;
}

.logo {
    position: relative;
    padding: 1rem 2rem;
}

.logoCircle {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    border-radius: 50%;
    height: 1.5625rem;
    width: 1.5625rem;
    z-index: 1;
}

.nav {
    padding-right: 5rem;
}

.link {
    font-family: 'Urbanist';
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 2rem;
    font-size: 24px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: -0.03em;
    text-align: left;
}

.button {
    color: #070808;
    width: 12.5rem;
    height: 3.8125rem;
    border-radius: 25px;
    font-family: 'Open+Sans';
    font-size: 24px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
}

@media (max-width: 980px) {
    .logoText {
        font-size: 1.25rem;
        text-align: center;
        margin: 0;
    }

    .logoCircle {
        height: 0.75rem;
        width: 0.75rem;
    }

    .link {
        font-size: 1rem;
        margin-right: 1rem;
    }

    .logo {
        padding: 0.25rem 0.75rem;
    }

    .nav {
        padding: 0rem;
    }
}
