@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Urbanist&family=Open+Sans&display=swap');

:root {
  --primary-font: 'Poppins', sans-serif;
  --secondary-font: 'Urbanist', sans-serif;
  --tertiary-font: 'Open Sans', sans-serif;
  --primary-color: #ffffff;
  --link-color: #ffffff;
  --button-bg-color: #070808;
}

.header {
  max-width: 90rem;
  width: 95vw;
  margin: auto;
  margin-top: 2.815rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--primary-font);
}

.logoText {
  color: var(--primary-color);
  text-align: right;
  font-family: var(--primary-font);
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0;
}

.logo {
  position: relative;
  padding: 1rem 2rem 0;
}

.logoCircle {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--primary-color);
  border-radius: 50%;
  height: 1.5625rem;
  width: 1.5625rem;
  z-index: 1;
}

.nav {
  padding-right: 5rem;
  display: flex;
}

.link {
  font-family: var(--secondary-font);
  color: var(--link-color);
  text-decoration: none;
  margin-right: 2rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 3.75;
  letter-spacing: -0.03em;
  text-align: left;
}

.button {
  width: 12rem;
  height: 3.5rem;
  border-radius: 25px;
}

.buttonLink {
  color: var(--button-bg-color);
  font-family: var(--tertiary-font);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 0.875;
  letter-spacing: 0;
  text-decoration: none;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .nav {
    padding-right: 0;
    margin-bottom: 2rem;
    display: flex;
  }

  .link {
    padding-right: 1rem;
    padding-left: 1rem;
    margin: 0;
    text-align: center;
  }

  .button {
    width: 60%;
  }
}

@media (max-width: 992px) {
  .logo {
    padding: 0.75rem 1.5rem 0;
  }

  .logoCircle {
    width: 1.18rem;
    height: 1.18rem;
  }

  .logoText {
    font-size: 1.5rem;
  }

  .link {
    font-size: 1.125rem;
  }
}
