body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.download-button {
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    color: #ffff;
    font-weight: bold;
    background-color: #090289;
    border-radius: 50%;
    border: 1px solid #ffff;
    transition: 0.3s ease-in-out;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    cursor: pointer;
    animation: wiggle 2s linear infinite;
}

.download-button:hover {
    border: 1px solid #b0aeae;
    background-color: #ffff;
    color: #0d6efd;
}

@keyframes wiggle {

    0%,
    7% {
        transform: rotateZ(0);
    }

    15% {
        transform: rotateZ(-50deg);
    }

    20% {
        transform: rotateZ(10deg);
    }

    25% {
        transform: rotateZ(-10deg);
    }

    30% {
        transform: rotateZ(6deg);
    }

    35% {
        transform: rotateZ(-4deg);
    }

    40%,
    100% {
        transform: rotateZ(0);
    }
}