.sb-tooltip
{
    border: 0 none #ccc;
    border: 1px solid #ccc;
    padding: 8;
}
.sb-tooltip-month{
    margin: 2px;
}
.sb-tooltip-spent{
    margin: 2px;
}
.sb-tooltip-balance{
    margin: 2px;
}