@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Urbanist&family=Open+Sans&display=swap');

:root {
    --primary-font: 'Poppins', sans-serif;
    --secondary-font: 'Urbanist', sans-serif;
    --tertiary-font: 'Open Sans', sans-serif;
    --primary-color: #FFFFFF;
    --link-color: #FFFFFF;
    --button-bg-color: #070808;
}

.header {
    max-width: 90rem;
    width: 95vw;
    margin: auto;
    margin-top: 2.815rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--primary-font);
}

.logoText {
    color: var(--primary-color);
    text-align: right;
    font-family: var(--primary-font);
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: 0;
}

.nav {
    padding-right: 5rem;
    display: flex;
}

.link {
    font-family: var(--secondary-font);
    color: var(--link-color);
    text-decoration: none;
    margin-right: 2rem;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: left;
}

.button {
    width: 12rem;
    height: 3.5rem;
    border-radius: 25px;
}

.buttonLink {
    color: var(--button-bg-color);
    font-family: var(--tertiary-font);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 0.875;
    letter-spacing: 0;
    text-decoration: none;
}

@media (max-width: 992px) {
    .nav {
        display: none;
    }

    .button {
        display: none;
    }
}