.green-opaque-bg {
  background-color: rgb(198, 239, 206);
  color: rgb(0, 97, 0) !important;
}

.red-opaque-bg {
  background-color: rgb(255, 199, 206);
  color: red !important;
}

.left-align {
  float: left;
}

.blue-bg {
  background-color: #1976d2;
  color: white;
}
